<div class="general-edit-container">
  {{general-edit model=model isAdvisor=isAdvisor save='saveAdvisor' row1='Name' row2='Email' row3='Department' param1='r1' param2='r2' param3='r3'}}
</div>
{{outlet}}
