<div class="general-edit-container">
  {{general-edit model=model save='saveBook' isBook=isBook row1="Book Title" row2="ISBN" row3="Author" row4="Price" row5="Checkout Date" row6="Due Date" param1='title' param2='isbn' param3='author' param4='price' param5="checkoutDate" param6="dueDate"}}
</div>
{{outlet}}
