<div class="general-edit-container">
  {{general-edit model=model isClass=isClass save='saveClass' row1='Name' row2='Department' row3='Teacher' row4='Students' row5=true param1='r1' param2='r2' param3='r3' param4='r4
  '}}
</div>
{{outlet}}
