<div class="general-edit-container">
  {{general-edit model=model isStudent=isStudent save='saveStudent' row1="Student ID" row2="Name" row3="Email" row4="Phone Number" row5="Address" row6="Mother's Name" row7="Father's Name" row8="Advisor" row9="Department" row10="Books" row11=true row12="Class" row13=true param1='name' param2='email' param3='address' param4='phone' param5="sid" param6="parents" param7="advisor" param8="dept" param9="books" param10="clasz"}}
</div>
{{outlet}}
