<div class="general-edit-container">
  {{general-edit model=model isTeacher=isTeacher save='saveTeacher' row1="Name" row2="Email" row3="Class" row4=true row5="Department" param1='name' param2='email' param3='clasz' param4='department'}}
</div>
{{outlet}}
